CONNECTION_CLOSE does have an error phrase

[Section 8.4.4](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#section-8.4.4) claims that QUIC's CONNECTION_CLOSE cannot carry an error reason as a string, but that is not true, see [Section 19.19 of RFC9000](https://www.rfc-editor.org/rfc/rfc9000.html#section-19.19).