Section 8.1: Congestion control recommendations

"  If congestion control is to be applied at the transport layer, it is
   RECOMMENDED to configure the QUIC Implementation to use a delay-based
   real-time congestion control algorithm instead of a loss-based
   algorithm.  The currently available delay-based congestion control
   algorithms depend on detailed arrival time feedback to estimate the
   current one-way delay between sender and receiver. "

[BA] Can we make this a bit more specific? 

1. By "delay-based congestion control algorithms" are you referring to the algorithms mentioned in RFC 8888 Section 1?
2. Would BBRv2 qualify?
3. Mac OS X 16 includes support for L4S and scalable congestion control.  Would this qualify? 
See: https://developer.apple.com/videos/play/wwdc2022/10078/



> [BA] Can we make this a bit more specific?
> 
>     1. By "delay-based congestion control algorithms" are you referring to the algorithms mentioned in RFC 8888 Section 1?

I think that was the intention when we wrote this paragraph. When thinking about this again now, I think it may be better to express this recommendation by explaining the application's requirements rather than by the congestion signals used by the employed algorithm or even listing specific ones. If we do that, it would also make sense to relax the following sentences:

"The currently available delay-based congestion control algorithms depend on detailed arrival time feedback to estimate the current one-way delay between sender and receiver. Since QUIC does not provide arrival timestamps in its acknowledgments, the QUIC implementations of the sender and receiver MUST use an extension to add this information to QUICs acknowledgment frames"

If we don't specify how the algorithms should work internally, it also doesn't make sense to require the use of a timestamp extension to provide one-way delay measurements.

>     2. Would BBRv2 qualify?
> 
>     3. Mac OS X 16 includes support for L4S and scalable congestion control.  Would this qualify?
>        See: https://developer.apple.com/videos/play/wwdc2022/10078/

Would it be specific enough to express a need for a congestion controller that ensures that RTP/RTCP packets are transmitted at low latencies? I think that would exclude loss-based algorithms and may exclude BBRv1 due to probing. I don't know if BBRv2 would qualify and I think L4S would.

I like the idea of specifying the general requirement (e.g. low-latency).  Separately, it would be worth understanding whether QUIC cc algorithms meet that requirement (e.g. whether BBRv2 is usable or not, whether iOS 16 L4S is helpful, etc.). 

I opened #36. I agree that it would be worth understanding which algorithms meet the requirement, but since I can currently not answer that for algorithms like BBRv2 or L4S, I don't want to put my assumptions in the document.