General clean-up of the current draft

While working on PRs, I noticed that the current main branch does have some spelling mistakes and a few grammar mistakes. 

I suggest that we finish our post-interim burst of PR merging, and then review the document carefully. The sense I have from recent discussion is that we won't be making many more changes to the specification before requesting WGLC and then asking @aboba and @JonathanLennox to request publication, so we will need to clean up the draft soon. 

@mengelbart and @SpencerDawkins split off the Editor's Notes resolution into two new issues (#181 and #182), and changed the description of this issue to remove the mention of Editor's Notes here. 

I'm not going to create another issue for this **now**, but I do want to go over the draft looking at uses of QUIC  "senders" and "receivers". The QUIC specifications could have been a lot more general-purpose than they turned out, but everyone knew they would be used for HTTP/3, so a lot of "client" and "server" language ended up in RFC 9000 and its close relatives, reflecting the usage in HTTP/3. That was great for HTTP/3, but not as great for RoQ. 

I think we were usually aware of that - that's why we used "sender", "receiver", and "endpoint" - but even if we were entirely consistent, it would be good for us to include a note to the reader about the terminology in RoQ if someone is trying to match the guidance we give in RoQ to the QUIC mechanisms that are defined in QUIC specs. 

> This document describes an application usage of QUIC ([[RFC9308](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9308)]). As a baseline, the document does not expect more than a standard QUIC implementation as defined in [[RFC8999](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC8999)], [[RFC9000](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9000)], [[RFC9001](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9001)], and [[RFC9002](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9002)], providing a secure end-to-end transport **that is also expected to work well through NATs and firewalls**.

Is this last part (highlighted) correct, as far as we're concerned? 

Yes and no. If you only want to use QUIC streams, it should be fine. If you want datagrams, you need RFC 9221. I think we may want to add that constraint to the text.

> Yes and no. If you only want to use QUIC streams, it should be fine. If you want datagrams, you need RFC 9221. I think we may want to add that constraint to the text.

I'm actually asking about "working well through NATs and firewalls. I am also noticing 

> The above implies that **RoQ is targeted at peer-to-peer operation**; but it may also be used in client-server-style settings, e.g., when talking to a conference server as described in RFC 7667 ([[RFC7667](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC7667)]), or, if RoQ is used to replace RTSP ([[RFC7826](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC7826)]), to a media server.

I THINK the point is "peer to peer will work fine if you set up QUIC connections directly to the right places, and this document doesn't describe how that happens, and that description should be in some other document", but I should probably say that clearly. 

As part of my clean-up review, I'm seeing a bunch of "may" and even "should" language in lower case. 

The draft uses the current BCP14 boilerplate, which says 

> The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in BCP 14 [[RFC2119](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC2119)] [[RFC8174](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC8174)] **when, and only when, they appear in all capitals, as shown here.**

Even given that updated BCP14 boilerplate, I'm more comfortable changing these to "might", "can", "ought to", etc. because so many implementers were familiar with pre-RFC8174 normative language, which wasn't limited to upper-case. I'm swapping these out now - please stop me if that's a bad idea. 

I'm also noticing a bunch of "RTP/RTCP" strings in [the Encapsulation section](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#name-encapsulation). None of these seem to distinguish between RTP data transport protocol and RTP control protocol, and we added this note (recently), 

> Note to the Reader: [RFC3550] actually describes two closely-related protocols - the RTP Data Transfer Protocol Section 5 of [RFC3550], and the RTP Control Protocol Section 6 of [RFC3550]. In this document, the term "RTP" refers to the combination of RTP Data Transfer Protocol and RTP Control Protocol, because the distinction isn't relevant for encapsulation, and the term "RTCP" always refers to the RTP Control Protocol.

so I'm changing them to "RTP".  

In this text, 

> To send RTP/RTCP packets over QUIC streams, a sender MUST open at least one new unidirectional QUIC stream. RoQ uses unidirectional streams, because there is no synchronous relationship between sent and received RTP/RTCP packets. 

QUIC streams could use [either of two unidirectional stream ID types](https://datatracker.ietf.org/doc/html/rfc9000#stream-id-types), depending on whether the stream is client-initiated or server-initiated. 

I don't see any indication in the RoQ specification that says whether we expect RoQ endpoints know whether they are opening QUIC connections as QUIC clients or QUIC servers. Do you think we've said that? If so, where? If not, should we say something about that?

(I'm guessing that QUIC implementations written for HTTP/3 would know which they are, and would be at least somewhat confused if an implementation thought it was a server and received a STREAM frame with a new stream ID saying it was "Server-Initiated, Unidirectional", or was a client and received a STREAM frame with a new stream ID saying it was "Client-Initiated, Unidirectional")

We use the term "peer" 21 times in the document. We might want to define that. 

We say 

> The currently proposed congestion control algorithms for real-time communications (e.g., SCReAM and NADA) provide such pacing mechanisms, **and QUIC recommends pacing for senders based on the congestion control algorithm.**¶

I think the bolded text is good advice, but I'm not seeing a mention of pacing in RFC 9000. Is there a reference we can provide for this?

In Section 13.1, I said this:

> Better guidance for congestion control and rate adaptation for multiple **RoQ** flows (whether streams or datagrams).

> Possible guidance for connection sharing between **RoQ** and **non-RoQ** flows, including considerations for congestion control and rate adaptation, scheduling, prioritization, and which ALPNs to use.

Should these be "real-time" and "non-real-time" flows, or is using "RoQ" and "non-RoQ" flows clear?

Changing RTP/RTCP to RTP and normative words to non-normative sounds good to me. Thanks for doing the work.

I am moving some of your comments to new issues and will start working on PRs, so we don't forget them when we merge #192 and close this issue.


> > To send RTP/RTCP packets over QUIC streams, a sender MUST open at least one new unidirectional QUIC stream. RoQ uses unidirectional streams, because there is no synchronous relationship between sent and received RTP/RTCP packets.
> 
> QUIC streams could use [either of two unidirectional stream ID types](https://datatracker.ietf.org/doc/html/rfc9000#stream-id-types), depending on whether the stream is client-initiated or server-initiated.
> 
> I don't see any indication in the RoQ specification that says whether we expect RoQ endpoints know whether they are opening QUIC connections as QUIC clients or QUIC servers. Do you think we've said that? If so, where? If not, should we say something about that?
> 
> (I'm guessing that QUIC implementations written for HTTP/3 would know which they are, and would be at least somewhat confused if an implementation thought it was a server and received a STREAM frame with a new stream ID saying it was "Server-Initiated, Unidirectional", or was a client and received a STREAM frame with a new stream ID saying it was "Client-Initiated, Unidirectional")
> 
> I suspect we do need to say something about whether RoQ endpoints care whether they are QUIC clients or servers, because we say
> 
> > The amount of data that the client can send in QUIC 0-RTT is controlled by the initial_max_data transport parameter supplied by the server. This is described in more detail in {{Section 4.6.1 of !RFC9001}}.

I can't find a reference for this, but I'd assume that a server sending a stream frame with an ID of a client-initiated stream or vice-versa would be a protocol violation in QUIC. I don't think we need to handle that again in RoQ.

> I can't find a reference for this, but I'd assume that a server sending a stream frame with an ID of a client-initiated stream or vice-versa would be a protocol violation in QUIC. I don't think we need to handle that again in RoQ.

So, what we're saying is that any reasonable QUIC implementation knows whether it's a server or a client, and uses the correct stream ID for that? 

Yes, that sounds right.

@mengelbart - We've got one remaining (re-)opened question about whether we care - and whether RoQ implementations should care - whether they use a client-initiated stream ID, a server-initiated stream ID, or whether they can use either. 

You've done more implementation work on this, but I can imagine an implementer reading 

> To send RTP packets over QUIC streams, a sender MUST open at least one new unidirectional QUIC stream.

then looking at https://datatracker.ietf.org/doc/html/rfc9000#stream-id-types, and asking herself "so, am I a client, or a server?"

It seems like we should say SOMETHING, just to reduce the amount of confusion RoQ implementers will have ("Make Good Choices!" is a great slogan, but lousy normative language :grin:). If we're not going to be silent, we could do either of the following:

- Explicitly say "a sender MUST open at least one new unidirectional QUIC stream, **which can use either a client-initiated or server-initiated stream ID prefix**", and then we should say something like "a receiver MUST be prepared to accept either client-initiated or server-initiated stream ID prefixes", OR
- Pick one - and just for grins, let's say we pick server-initiated - so we explicitly say "a sender MUST open at least one new **server-initiated** unidirectional QUIC stream".

I haven't called myself a software engineer for a while, but it seems to me that allowing either just increases the number of code paths that have to be tested and regression-tested, and I can't think of an advantage that might justify this increased complexity. 

(This is kind of like us changing SHOULDs to MUSTs, because receivers have to be prepared to handle the cases where senders don't do what they SHOULD do, so, more complexity, and more code paths to test and regression-test).

Does that make sense?

I don't understand why the application should worry about the QUIC stream ID. The QUIC implementations I have worked with manage stream IDs internally and don't let the application pick one. Even if they did, I would expect them to handle the error cases, where an application chooses a stream ID that it is not allowed to use (the QUIC stack will know whether it is a server or a client).

> I don't understand why the application should worry about the QUIC stream ID. The QUIC implementations I have worked with manage stream IDs internally and don't let the application pick one. Even if they did, I would expect them to handle the error cases, where an application chooses a stream ID that it is not allowed to use (the QUIC stack will know whether it is a server or a client).

Thank you for the feedback! It's very helpful. 

And you're right - I'm not distinguishing between what a RoQ implementation deals with and what the underlying QUIC implementation deals with. My question is about the QUIC implementation.

So what I'm trying to ask (not very clearly) is, let's say you and I each have a cell phone with a QUIC implementation that's used for HTTP/3, so it opens streams as a client. 

Now, I call you, so I open a client-initiated stream because I'm a client. 

You're also a client, so you'll see a client-initiated stream ID that you didn't initiate. 

I THINK one downside is that we're cutting the unidirectional stream ID space in half, and maybe that doesn't matter, but I also THINK the client-initiated/server-initiated stream ID prefixes also prevent two QUIC endpoints from choosing the same stream ID that collides during a race condition. 

Does that seem right? 

> So what I'm trying to ask (not very clearly) is, let's say you and I each have a cell phone with a QUIC implementation that's used for HTTP/3, so it opens streams as a client.
> 
> Now, I call you, so I open a client-initiated stream because I'm a client.
> 
> You're also a client, so you'll see a client-initiated stream ID that you didn't initiate.

That doesn't work because you can't have a QUIC connection between two QUIC clients. Either there's a server involved that forwards data between the clients, or you need some peer-to-peer solution (possibly involving NAT traversal), in which one of the endpoints must act as a QUIC server.

If you have a server in between, there is no issue because the sending client will choose client-initiated stream IDs for the server, and the server will choose server-initiated stream IDs to forward the data to the receiving client.

If there is a direct connection between the endpoints and one of them is a server, then you also don't have the problem because the client uses client-initiated IDs, and the server uses server-initiated IDs.

The QUIC implementation of every endpoint, of course, needs to know whether it is a server or a client, but without knowing that, how would you establish the connection in the first place?

> That doesn't work because you can't have a QUIC connection between two QUIC clients. Either there's a server involved that forwards data between the clients, or you need some peer-to-peer solution (possibly involving NAT traversal), in which one of the endpoints must act as a QUIC server.

YES! Now I've asked a well-formed question (for the first time in this thread). So, the implications of what you said here, as I understand it, is that "telling a RoQ endpoint whether its QUIC implementation should act as a QUIC client or QUIC server". And we agree that this probably needs to be signaled for RoQ, as it is for other encapsulations. 

I've created #203 to cover the QUIC client-server roles in our draft, and I'm closing this issue (again). 