RoQ Implementation Experience

Reading the document, it is not clear how much of the specification has been implemented.  Understanding this will help in evaluating the issues to be investigated during the Experiment.  QUIC implementations differ in ways that can affect RoQ (e.g. handling of RESET_STREAM, prioritizing of datagrams vs. streams, support for QUIC extensions, etc.), so it's useful to understand how much experience we have had with these potential issues. 

Section 1.1 says: 

"   This document describes an application usage of QUIC ([RFC9308]).  As
   a baseline, the document does not expect more than a standard QUIC
   implementation as defined in [RFC8999], [RFC9000], [RFC9001], and
   [RFC9002], providing a secure end-to-end transport.  Beyond this
   baseline, real-time applications can benefit from QUIC extensions
   such as unreliable DATAGRAMs [RFC9221], which provides additional
   desirable properties for real-time traffic (e.g., no unnecessary
   retransmissions, avoiding head-of-line blocking).
"

[BA] Does this imply that the RoQ implementation only supported QUIC reliable streams and not "RoQ datagrams"? 

Section 3

"RoQ allows the use of
   both QUIC streams and QUIC DATAGRAMs to transport real-time data, and
   thus, if RTP packets are to be sent over QUIC DATAGRAMs, the QUIC
   implementation MUST support QUIC's DATAGRAM extension."

[BA] Does the RoQ implementation support both QUIC streams as well as QUIC datagrams?  

"[RFC9221] does not provide demultiplexing between different
   flows on DATAGRAMs but suggests that an application implement a
   demultiplexing mechanism if required.  An example of such a mechanism
   would be flow identifiers prepended to each DATAGRAM frame as
   described in Section 2.1 of [I-D.draft-ietf-masque-h3-datagram].  RoQ
   uses a flow identifier to replace the network address and port number
   to multiplex many RTP sessions over the same QUIC connection."

[BA] Was the demultiplexing mechanism for DATAGRAMS implemented? 

Section 3.1.5

"   This document defines a flow identifier for multiplexing multiple RTP
   and RTCP ports on the same QUIC connection to conserve ports,
   especially at NATs and firewalls.  Section 5.1 describes the
   multiplexing in more detail.  "

[BA] Was the flow identifier implemented for multiplexing multiple RTP and RTCP ports on the same connection? 

"A sender can use these capabilities to more effectively exploit
   multiple paths between sender and receiver with no action required
   from the application, even if these paths have different path
   characteristics.  "

[BA] Was any experimentation done with multi-path QUIC? 

Section 3.2

"Indeed, an application can use both QUIC
   streams and DATAGRAM encapsulations on the same QUIC connection."

[BA] Were streams and DATAGRAM encapsulations both implemented? 

Section 3.2

"   There is no default relative priority between DATAGRAM frames with
   respect to each other, and there is no default priority between
   DATAGRAM frames and QUIC STREAM frames.  "

[BA] We have seen implementations that do include a default priority between DATAGRAM and STREAM frames.  One question that has arisen is whether the choice (prioritizing DATAGRAM vs. STREAM frames) affects whether RTCP should be encapsulated in STREAM or DATAGRAM frames.  Did the RoQ implementation look at the influence of default priority? 

"   DATAGRAM frames do inherit the QUIC connection's congestion
   controller.  This means that although there is no frame-level flow
   control, DATAGRAM frames can be delayed until the controller allows
   them to be sent or dropped (with an optional notification to the
   sending application).  Implementations can also delay sending
   DATAGRAM frames to maintain consistent packet pacing (as described in
   Section 7.7 of [RFC9002]), and can allow an application to specify a
   sending expiration time, but these capabilities are not mandated by
   the standard and might not be present in all implementations."

[BA] This is another area where there appears to be significant variation between QUIC implementations. Did the RoQ implementation have experience with the effect of these differences (e.g. delay in sending vs. dropping on expiration)? 

" *  If the use of DATAGRAMs was critical for the application, the
      endpoint can simply close the QUIC connection, allowing someone or
      something to correct this mismatch, so that DATAGRAMs can be used.

   *  If the use of DATAGRAMs was not critical for the application, the
      endpoint can negotiate the use of QUIC streams instead.
"

[BA] Did the RoQ implementation support one of these policies? 

3.3.  Supported RTP Topologies

[BA] Did the RoQ implementation attempt support for RoQ to RTP/UDP translation? 

Section 4

"This allows different RTP sessions, which might
   use different RTP profiles, to be carried within the same QUIC
   connection."

[BA] Did the RoQ implementation support carrying multiple RTP sessions within the same QUIC connection? 

Section 4.1

"   Non-compatible experiments that are based on these draft versions
   MUST append the string "-" and an experiment name to the identifier.

[BA] What is an example of a "non-compatible experiment"?  Would this be a RoQ implementation that doesn't interoperate with the RoQ implementation code?  Also, curious about whether we should expect implementations of the published RFC using the "roq" ALPN to interoperate. 

Section 5

"Senders MAY combine both modes by sending some RTP
   packets over the same or different QUIC streams and others in
   DATAGRAMs."

[BA] Did the RoQ implementation include support for both modes?  If so, what happened if a RoQ peer did not support both?  For example, if the RoQ implementation supported DATAGRAMS and sent RTP/RTCP using them, but did not receive DATAGRAM frames from the peer, only STREAM frames?  Would it switch to use of STREAM frames? Or would communication fail? 

Section 5.1

"RTP packets of different RTP sessions MUST use distinct flow
   identifiers.  If endpoints wish to send multiple types of media in a
   single RTP session, they can do so by following the guidance
   specified in [RFC8860]."

[BA] Was support for multiple RTP sessions implemented? 

"A single RTP session can be associated with one or two flow
   identifiers.  Thus, it is possible to send RTP and RTCP packets
   belonging to the same session using different flow identifiers.  RTP
   and RTCP packets of a single RTP session can use the same flow
   identifier (following the procedures defined in [RFC5761]), or they
   can use different flow identifiers."

[BA] Did the RoQ implementation support sending RTP and RTCP using different flow identifiers? 

"  The association between flow identifiers and RTP streams MUST be
   negotiated using appropriate signaling.  The signaling happens out of
   band and thus a stream or DATAGRAM with a given flow identifer can
   arrive before the signaling finished.  In that case, an endpoint
   cannot associate the stream or DATAGRAM with the corresponding RTP
   stream.  "

[BA] Did the RoQ implementation require creation of the association via signaling?   

RFC 3550 doesn't have an equivalent requirement, and there have been RTP implementations in which an event is triggered on arrival of a non-signaled flow identifier, allowing the application to decide whether to accept the incoming stream or not.  If the incoming stream is accepted, the source SSRC (and the mapping between flow id and SSRC) could be authorized. 

This allows for the handling of incoming streams without signaling, including where the signaling has not yet arrived.  For example, if the application feels it can render the incoming stream (subject to the limits on buffered streams) it can choose to do so. 

"If the number of buffered streams exceeds the limit on
   buffered streams, the endpoint MUST send a STOP_SENDING with the
   error code ROQ_UNKNOWN_FLOW_ID. "

[BA] Was this implemented? 

Section 5.2

"   A RoQ sender can open new QUIC streams for different RTP packets using the same flow identifier.  "

[BA] Was this implemented? 

Section 5.2.2

"   QUIC uses RESET_STREAM and STOP_SENDING frames to terminate the
   sending part of a stream and to request termination of an incoming
   stream by the sending peer respectively."

[BA] Was this implemented? 

"   If a RoQ sender discovers that a packet is no longer needed and knows
   that the packet has not yet been successfully and completely
   transmitted, it can use RESET_STREAM to tell the RoQ receiver that
   the RoQ sender is discarding the packet."

[BA]  I am curious about the implementation experience with respect to use of RESET_STREAM and STOP_SENDING. Was this implemented, and if so, in what transport scenarios (e.g. packet/stream, multiple packets/stream, etc.)? 

This paragraph seems to assume packet/stream encapsulation, so that a RESET_STREAM can be mapped to a specific packet.  But what if multiple packets are sent on the same stream?  Does use of a reliable reset make sense in that scenario?

Also, the sender may not know if the packet has "not yet been successfully and completely transmitted"?  In some implementations, the sender only knows that the packet has been enqueued for transmission, and the effect of RESET_STREAM can vary depending on how the sender, receiver and intermediary QUIC implementations handle RESET_STREAM.  For example, if RESET_STREAM is sent after the packet has been put on the wire, the RESET_STREAM frame may have no effect. 

"   A translator that translates between two endpoints, both connected
   via QUIC, MUST forward RESET_STREAM frames received from one end to
   the other unless it forwards the RTP packets encapsulated in
   DATAGRAMs."

[BA] Was there any implementation experience with this? 

5.2.3.  Flow control and MAX_STREAMS

[BA] I'm curious about the implementation experience relating to MAX_STREAMS, particularly in conferencing scenarios.  This seems like an area where there could be tricky issues. 

5.3.  QUIC DATAGRAMs

[BA] Was there implementation experience with QUIC DATAGRAMs? 

7.  Error Handling

[BA] Was this implemented? 

9.  Guidance on Choosing QUIC Streams, QUIC DATAGRAMs, or a Mixture

   Some applications might have implementation goals that don't fit
   neatly into "QUIC streams only" or "QUIC DATAGRAMs only" categories.
   For example, another implementation goal might be to use QUIC streams
   to carry RTP video frames, but to use QUIC DATAGRAMs to carry RTP
   audio frames, which are typically much smaller.  Because humans tend
   to tolerate inconsistent behavior in video better than inconsistent
   behavior in audio, the application might add Forward Error Correction
   [RFC6363] to RTP audio packets and encapsulate the result in QUIC
   DATAGRAMs, while encapsulating RTP video packets in QUIC streams.

[BA] Was there any implementation experience with this mixed stream/datagram approach? 

In some cases the results appear to be affected by the QUIC stack's default prioritization of streams and datagrams.  For example, prioritizing datagrams over streams would be likely to provide lower delay/loss for the audio, whereas prioritizing streams over datagrams seems like it could create issues with a/v sync. 



There are at least two different implementations.

BBC has published a set of [Gstreamer plugins](https://github.com/bbc/gst-roq) implementing RoQ. I don't know how much of the draft it implements.

The implementation linked in [Appendix C](https://datatracker.ietf.org/doc/html/draft-ietf-avtcore-rtp-over-quic-10#appendix-C) is the implementation we used for the initial experiments focusing on congestion control which we presented when we started working on the draft. [That implementation](https://github.com/mengelbart/rtp-over-quic) is not up to date with the current draft, mainly because the stream mapping does not use a length field. Since that implementation is somewhat outdated and includes a lot of features that are not related to RoQ, we moved the RoQ-specific parts to a new library. The [new library](https://github.com/mengelbart/roq) is up to date with the latest draft and only includes the RoQ encapsulation for streams and datagrams.

> Reading the document, it is not clear how. much of the specification was implemented.

I think we can update Appendix C to answer these questions, or alternatively add a new regular (sub)section to the draft. What would you prefer?

Answers regarding our (new) implementation:

> Section 1.1 says:
> 
> " This document describes an application usage of QUIC ([RFC9308]). As a baseline, the document does not expect more than a standard QUIC implementation as defined in [RFC8999], [RFC9000], [RFC9001], and [RFC9002], providing a secure end-to-end transport. Beyond this baseline, real-time applications can benefit from QUIC extensions such as unreliable DATAGRAMs [RFC9221], which provides additional desirable properties for real-time traffic (e.g., no unnecessary retransmissions, avoiding head-of-line blocking). "
> 
> [BA] Does this imply that the RoQ implementation only supported QUIC reliable streams and not "RoQ datagrams"?

No, our implementation supports both.

> Section 3
> 
> "RoQ allows the use of both QUIC streams and QUIC DATAGRAMs to transport real-time data, and thus, if RTP packets are to be sent over QUIC DATAGRAMs, the QUIC implementation MUST support QUIC's DATAGRAM extension."
> 
> [BA] Does the RoQ implementation support both QUIC streams as well as QUIC datagrams?

Yes, our implementation supports both.

> "[RFC9221] does not provide demultiplexing between different flows on DATAGRAMs but suggests that an application implement a demultiplexing mechanism if required. An example of such a mechanism would be flow identifiers prepended to each DATAGRAM frame as described in Section 2.1 of [I-D.draft-ietf-masque-h3-datagram]. RoQ uses a flow identifier to replace the network address and port number to multiplex many RTP sessions over the same QUIC connection."
> 
> [BA] Was the demultiplexing mechanism for DATAGRAMS implemented?

We implemented the flow identifier, and it is used in streams and datagrams as described in [section 5](https://datatracker.ietf.org/doc/html/draft-ietf-avtcore-rtp-over-quic-10#section-5)

> Section 3.1.5
> 
> " This document defines a flow identifier for multiplexing multiple RTP and RTCP ports on the same QUIC connection to conserve ports, especially at NATs and firewalls. Section 5.1 describes the multiplexing in more detail. "
> 
> [BA] Was the flow identifier implemented for multiplexing multiple RTP and RTCP ports on the same connection?

Yes, the flow identifier can be used to multiplex multiple RTP and RTCP streams on the same connection.

> "A sender can use these capabilities to more effectively exploit multiple paths between sender and receiver with no action required from the application, even if these paths have different path characteristics. "
> 
> [BA] Was any experimentation done with multi-path QUIC?

No.

> Section 3.2
> 
> "Indeed, an application can use both QUIC streams and DATAGRAM encapsulations on the same QUIC connection."
> 
> [BA] Were streams and DATAGRAM encapsulations both implemented?

Yes, our implementation supports both and allows using both simultaneously, given that the datagram extension was negotiated.

> Section 3.2
> 
> " There is no default relative priority between DATAGRAM frames with respect to each other, and there is no default priority between DATAGRAM frames and QUIC STREAM frames. "
> 
> [BA] We have seen implementations that do include a default priority between DATAGRAM and STREAM frames. One question that has arisen is whether the choice (prioritizing DATAGRAM vs. STREAM frames) affects whether RTCP should be encapsulated in STREAM or DATAGRAM frames. Did the RoQ implementation look at the influence of default priority?

The tests with our initial implementation used RTCP over datagrams and we did not further investigate the influence of priorities between streams or datagrams. That is something we should look at in future experiments.

> " DATAGRAM frames do inherit the QUIC connection's congestion controller. This means that although there is no frame-level flow control, DATAGRAM frames can be delayed until the controller allows them to be sent or dropped (with an optional notification to the sending application). Implementations can also delay sending DATAGRAM frames to maintain consistent packet pacing (as described in Section 7.7 of [RFC9002]), and can allow an application to specify a sending expiration time, but these capabilities are not mandated by the standard and might not be present in all implementations."
> 
> [BA] This is another area where there appears to be significant variation between QUIC implementations. Did the RoQ implementation have experience with the effect of these differences (e.g. delay in sending vs. dropping on expiration)?

No.

> " * If the use of DATAGRAMs was critical for the application, the endpoint can simply close the QUIC connection, allowing someone or something to correct this mismatch, so that DATAGRAMs can be used.
> 
>     * If the use of DATAGRAMs was not critical for the application, the
>       endpoint can negotiate the use of QUIC streams instead.
>       "
> 
> 
> [BA] Did the RoQ implementation support one of these policies?

Our implementation exposes an API that allows applications to send RTP over streams or datagrams. If datagrams cannot be sent, an error will be exposed to the application, and it is the choice of the applications to close the connection or try using streams. The behavior also depends on what was signaled out of band.

> 3.3. Supported RTP Topologies
> 
> [BA] Did the RoQ implementation attempt support for RoQ to RTP/UDP translation?

No.

> Section 4
> 
> "This allows different RTP sessions, which might use different RTP profiles, to be carried within the same QUIC connection."
> 
> [BA] Did the RoQ implementation support carrying multiple RTP sessions within the same QUIC connection?

Our implementation supports multiplexing using the flow identifier, but we did not run any experiments with multiple sessions on the same connection.

> Section 4.1
> 
> " Non-compatible experiments that are based on these draft versions MUST append the string "-" and an experiment name to the identifier.
> 
> [BA] What is an example of a "non-compatible experiment"? Would this be a RoQ implementation that doesn't interoperate with the RoQ implementation code? Also, curious about whether we should expect implementations of the published RFC using the "roq" ALPN to interoperate.

I would consider the first implementation we presented as now being incompatible because it does not use a length field for RTP packets sent on a stream. That will be an interoperability issue because a receiver expecting the length field cannot know where RTP packets start or end. Unfortunately, it was implemented before the addition of this subsection and thus now uses the "rtp-mux-quic" ALPN, but that is no longer used in the current draft.

This subsection is to be removed before publication. I would expect RoQ implementations to interoperate with other RoQ implementations, and I would expect implementations using the "roq" ALPN to implement the final RFC and be interoperable.

> Section 5
> 
> "Senders MAY combine both modes by sending some RTP packets over the same or different QUIC streams and others in DATAGRAMs."
> 
> [BA] Did the RoQ implementation include support for both modes? If so, what happened if a RoQ peer did not support both? For example, if the RoQ implementation supported DATAGRAMS and sent RTP/RTCP using them, but did not receive DATAGRAM frames from the peer, only STREAM frames? Would it switch to use of STREAM frames? Or would communication fail?

Our implementation supports both modes. If the QUIC peer announces support for receiving datagrams, the application using our implementation can send datagrams. If the peer does not announce support for the datagram extension, the application cannot send datagrams, and the API will return an error. Sending and receiving datagrams are independent, thus if a sender sends datagrams but does not receive datagrams, it will not switch to streams and communication will not fail (since it can only send datagrams if the peer announced support).

> Section 5.1
> 
> "RTP packets of different RTP sessions MUST use distinct flow identifiers. If endpoints wish to send multiple types of media in a single RTP session, they can do so by following the guidance specified in [RFC8860]."
> 
> [BA] Was support for multiple RTP sessions implemented?

See above, our implementation supports multiplexing using flow identifiers, but we did not run any tests using multiple sessions.

> "A single RTP session can be associated with one or two flow identifiers. Thus, it is possible to send RTP and RTCP packets belonging to the same session using different flow identifiers. RTP and RTCP packets of a single RTP session can use the same flow identifier (following the procedures defined in [RFC5761]), or they can use different flow identifiers."
> 
> [BA] Did the RoQ implementation support sending RTP and RTCP using different flow identifiers?

Yes, see above.

> " The association between flow identifiers and RTP streams MUST be negotiated using appropriate signaling. The signaling happens out of band and thus a stream or DATAGRAM with a given flow identifer can arrive before the signaling finished. In that case, an endpoint cannot associate the stream or DATAGRAM with the corresponding RTP stream. "
> 
> [BA] Did the RoQ implementation require creation of the association via signaling?

We did not implement signaling. In our test applications, parameters were static.

> There have been RTP implementations in which an event is triggered on arrival of a non-signaled flow identifier, allowing the application to decide whether to accept the incoming stream or not. If the incoming stream is accepted, the mapping between flow id and SSRC could be authorized.
> 
> This allows for the handling of incoming streams without signaling, or if the signaling has not yet arrived. For example, if the application feels it can render the incoming stream (subject to the limits described in the rest of the paragraph) it can choose to do so.
> 
> "If the number of buffered streams exceeds the limit on buffered streams, the endpoint MUST send a STOP_SENDING with the error code ROQ_UNKNOWN_FLOW_ID. "
> 
> [BA] Was this implemented?

This was added very recently. It is implemented in our implementation, but we did not extensively test it (yet).

> Section 5.2
> 
> " A RoQ sender can open new QUIC streams for different RTP packets using the same flow identifier. "
> 
> [BA] Was this implemented?

Yes, see above.


@aboba - at least some of these questions (and Mathis's answers) could feed into the shepherd write-up for this draft, I think? 