Section 9.2: Disabling QUIC Congestion Control

   *  _Disable Congestion Controller_: If congestion control is to be
      implemented at the application layer as described in Section 8.2,
      and the application layer is trusted to apply adequate congestion
      control, it is RECOMMENDED to allow the application to disable QUIC
      layer congestion control entirely.

[BA] In terms of the overall requirements, you might cite RFC 9002 Section 7, which says: 

"If a sender uses a different controller than that specified in this
   document, the chosen controller MUST conform to the congestion
   control guidelines specified in [Section 3.1 of [RFC8085]](https://datatracker.ietf.org/doc/html/rfc8085#section-3.1)."