Length field

      *Editor's Note:* We considered adding a framing like the one
      described in [RFC4571] to send multiple RTP packets on one stream,
      but we don't think it is worth the additional overhead only to
      reduce the number of streams.  Moreover, putting multiple ADUs
      into a single stream would also require defining policies when to
      use the same (and which) stream and when to open a new one.

[BA] The Length field isn't just for sending multiple RTP packets on one stream.  If the sender implements partial reliability, it may set a timer and then send a RESET_STREAM frame if the timer expires, in order to ensure against excessive retransmissions.  In that case, the receiver may only receive a portion of the frame, and the length field can enable it to determine that the frame was not completely received and should be discarded.

I would also note that the 16-bit length defined in RFC 4571 was designed to be large enough to cover RTP packets, not entire frames sent in RTP over QUIC streams.  So if a length field is to be used in RTP over QUIC, it would either need to be larger (e.g. 32 bits) or if kept at 16 bits, could be used to denote the length in units of 4 octets.  

RESET_STREAM frames contain the final size of the stream, so the receiver can determine if the frame was completely received or not. But a length field may be helpful for the receiver to calculate how much data is still missing and to determine whether it is worth waiting longer before sending a STOP_SENDING frame.

An alternative for the 16-bit length field could also be to use a [variable-length integer](https://www.rfc-editor.org/rfc/rfc9000.html#section-16) as we did for the flow ID.

I just realized that the final size contained in a RESET_STREAM frame is not the size of the frame, but the

> amount of flow control credit that is consumed by a stream

[Section 4.5 of RFC 9000](https://www.rfc-editor.org/rfc/rfc9000.html#section-4.5), so the receiver cannot use it to determine if a frame was completely received or not.

Sorry for the confusion.