working well through NATs and firewalls

> This document describes an application usage of QUIC ([[RFC9308](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9308)]). As a baseline, the document does not expect more than a standard QUIC implementation as defined in [[RFC8999](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC8999)], [[RFC9000](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9000)], [[RFC9001](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9001)], and [[RFC9002](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#RFC9002)], providing a secure end-to-end transport that is also expected to work well through NATs and firewalls.

SD: Is this last part (highlighted) correct, as far as we're concerned?

---

ME: Yes and no. If you only want to use QUIC streams, it should be fine. If you want datagrams, you need RFC 9221. I think we may want to add that constraint to the text.

---

> Yes and no. If you only want to use QUIC streams, it should be fine. If you want datagrams, you need RFC 9221. I think we may want to add that constraint to the text.

SD: I'm actually asking about "working well through NATs and firewalls.

_Originally posted by @SpencerDawkins in https://github.com/mengelbart/rtp-over-quic-draft/issues/163#issuecomment-2047826581_

I suggest we add something like *and optionally RFC9221* to the list of required RFCs.

About the second question, I think we can just drop the last part of the sentence. I don't see why we need to mention it here, and NAT traversal is discussed elsewhere in the document. What do you think?

> I suggest we add something like _and optionally RFC9221_ to the list of required RFCs.

I think I confused you in my comment. I think the list of "all you need" is fine without mentioning RFC 9221, because our list here is what is actually QUIC without extensions - the baseline set of RFCs is fine. If we mention an extension to QUIC here, we should probably consider treating RFC 9221 differently from any other extension - the document has 

- core QUIC specifications
- QUIC extensions

but we would be moving to 

- core QUIC specifications
- QUIC extensions that should have been included in RFC 9000
- other QUIC extensions

and that seems unhelpful. 

> About the second question, I think we can just drop the last part of the sentence. I don't see why we need to mention it here, and NAT traversal is discussed elsewhere in the document. What do you think?

That's actually what my comment was about! I think your solution would be great. 

That makes sense!

I'll open a PR to remove the sentence about NAT.