Review of RTP over QUIC draft (Vidhi Goel)

Posted to the AVTCORE WG mailing list: https://mailarchive.ietf.org/arch/msg/avt/BA7LGvYhodx-PnnaKKPj2gcnzBc/

Hello Authors,

I have read and reviewed draft-ietf-avtcore-rtp-over-quic-01 and below are my comments.

General comment - I think this draft will be really helpful for developers of real time applications in migrating to QUIC (from UDP and DTLS). The current draft touches on some important aspects such as multiplexing, de-depulication of RTCP feedback fields etc. But it needs some more details and clarifications regarding sections like congestion control, connection migration, multi path capability.

Specific comments - I am providing my comments section wise and there are a mix of minor nits, typos and major comments.

Section 1. - A very big advantage of migrating to QUIC would be connection migration and MPQUIC. I think this should be mentioned in the intro and later described the impact of each of these on RTP. 
Section 3. - Current text - Such new media transport protocols may be covered elsewhere, e.g., in the MOQ WG. I don’t think reference to MOQ is needed here. 
Section 6. - Multiplexing RTP/RTCP and non RTP (eg. HTTP) - since this will be discussed on Dec 15th interim, I will leave out my comment until a decision has been made.
Section 6.1 - Current text - If it is known to either the sender, that a packet, which was not yet successfully and completely transmitted, is no longer needed.... Typo in the first part where “either” is not needed.
Section 7. - Typo in the word “additional” -  QUIC layer to the application instead of exchanging addtional
Section 7.1 - The list of replaceable RTCP reports appears without any pretext before “Receiver Reports”. A simple line that says what is coming next would solve it.
                   - Under Receiver reports->Fractions lost, current text - Later packets SHOULD be ignored, since they may still be in flight, unless other QUIC packets that were sent after the datagram frame,. Why only sent after the datagram frame (and not stream) - maybe reframe the sentence to say RTP packet instead?
		   - Under Receiver reports->Highest Sequence Number received - This field is not clear. It would be clearer if it’d say what does this field mean in RTP and can QUIC provide the exact same feedback from its ACKs.
		   - Negative acknowledgements - Probably make the recommendation clearer that since QUIC can provide all the information that a negative ack provides, there is no need to use RTCP negative Ack.
   		   - ECN feedback - same comment as above, clearly state that reporting of ECN feedback should be done via QUIC instead of RTCP feedback.
Section 7.2 - English nit in current text - A QUIC receiver can also not calculate. Suggestion, Nor can a QUIC receiver calculate..
Section 8 - This section needs some work IMO with regards to,
	1. What spec should one comply to for a real time congestion controller? (I don’t think RFC 9002 is the right compliance for real time CCs)
	2. Is bandwidth estimation the only thing needed by media codecs or does QUIC CC need to do more than that?
	3. If a real time CC can’t comply to 1., does it need to use both real time CC as well as QUIC CC?

Section 10.2 - This is a sub section for impact of connection migration and it would be good to add one for MP QUIC as Multipath offers more benefits than migration. And, both the sections should clearly state if the RTP layer needs to do anything on path change.
		     - This line caught my attention - Application layer congestion control mechanisms (and also packet repair schemes such as retransmissions) need to be prepared to cope with such spikes.  Isn’t this something they already deal with UDP anyway? I wasn’t sure the reason for mentioning this explicitly.

Common to the entire draft - I think the word “unreliable” before datagrams doesn’t really add to the value of the draft as we all know datagrams are not retransmitted and the word “unreliable” doesn’t bring anything good to the table. Perhaps that can be removed at some places. The word congestion control is well known in the community but I think most real time drafts use the word “rate adaptation algorithm” and that word makes more sense to me than congestion control. Happy to hear what the authors (and others) think.

I can send out a PR for some of these comments.

Thanks,
Vidhi


Hi, @goelvidhi, as you can see, @aboba entered your review comments after the December virtual interim meeting. They are all in this issue, and most of the resolutions should be easy, so I will just respond to them as individual comments here, and they're likely to all end up in one PR. 

And thank you for your help!

For this comment: 

>Section 1. - A very big advantage of migrating to QUIC would be connection migration and MPQUIC. I think this should be mentioned in the intro and later described the impact of each of these on RTP.

I have a couple of thoughts. 

- I agree that these advantages are worth mentioning, but one of the major points the authors are working on, is to specify as much as we **need** to specify, without waiting until we specify everything that **can** be specified. I'll mention both of these, without promising that they will be added in the short term.
- QUIC connection migration is included in [RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000#name-connection-migration), but Multipath QUIC is still an [Internet Draft](https://datatracker.ietf.org/doc/html/draft-ietf-quic-multipath-03). It's been adopted by the QUIC working group, but hasn't been WGLCed yet, so perhaps we should wait a bit before including details about how RTP can exploit multipath QUIC capabilities. 

For this comment:

> Section 3. - Current text - Such new media transport protocols may be covered elsewhere, e.g., in the MOQ WG. I don’t think reference to MOQ is needed here.

Spencer agrees.

For this comment: 

>Section 6. - Multiplexing RTP/RTCP and non RTP (eg. HTTP) - since this will be discussed on Dec 15th interim, I will leave out my comment until a decision has been made.

Yes, and @mengelbart has been working on this independently, in #54. I'll leave this, for now. 

For this comment: 

>Section 6.1 - Current text - If it is known to either the sender, that a packet, which was not yet successfully and completely transmitted, is no longer needed.... Typo in the first part where “either” is not needed.

Agreed, and I'll make the change. 

For this comment: 

> Section 7. - Typo in the word “additional” - QUIC layer to the application instead of exchanging addtional

Agreed, and I'll make the change.

For this comment: 

> Section 7.1 - The list of replaceable RTCP reports appears without any pretext before “Receiver Reports”. A simple line that says what is coming next would solve it.

Agreed, and I'll make the change. 

For this comment: 

>- Under Receiver reports->Fractions lost, current text - Later packets SHOULD be ignored, since they may still be in flight, unless other QUIC packets that were sent after the datagram frame,. Why only sent after the datagram frame (and not stream) - maybe reframe the sentence to say RTP packet instead?



For this comment:

> - Under Receiver reports->Highest Sequence Number received - This field is not clear. It would be clearer if it’d say what does this field mean in RTP and can QUIC provide the exact same feedback from its ACKs.

For this comment: 

> - Negative acknowledgements - Probably make the recommendation clearer that since QUIC can provide all the information that a negative ack provides, there is no need to use RTCP negative Ack.

Agreed. and I'll make the change. 

For this comment: 

> - ECN feedback - same comment as above, clearly state that reporting of ECN feedback should be done via QUIC instead of RTCP feedback.

Agreed, and I'll make the change. 

For this comment: 

> Section 7.2 - English nit in current text - A QUIC receiver can also not calculate. Suggestion, Nor can a QUIC receiver calculate..

Agreed, and I'll make the change.

For this comment: 

> Section 8 - This section needs some work IMO with regards to,
> 1. What spec should one comply to for a real time congestion controller? (I don’t think RFC 9002 is the right compliance for real time CCs)

I'm not sure what spec we should comply to, but I definitely agree that we should say explicitly that RFC 9002 isn't the only possible spec that makes sense for realtime applications! I'll propose text here. 

For this comment: 

> Section 8 - This section needs some work IMO with regards to,
> 2. Is bandwidth estimation the only thing needed by media codecs or does QUIC CC need to do more than that?

I'll propose text here. 

For this comment: 

> Section 8 - This section needs some work IMO with regards to,
> 
> 3. If a real time CC can’t comply to 1., does it need to use both real time CC as well as QUIC CC?

My opinion, and I'm sure we need to talk about this, is that for realtime media applications intended to run over the Internet, the application needs to do SOMETHING for (as you mention in another commend) rate adaptation. I'd make two observations here. 

First, and foremost, we don't have an agreed mechanism for how to tell a QUIC implementation at each end of a QUIC connection that this connection will be used to carry realtime media. Without that, the QUIC implementation has no way of knowing that the connection is not carrying HTTP/3, and we're going to get RFC 9002 behavior (or worse for realtime media, for example, BBF behavior). We should say that. 

Second, for realtime media applications intended to run outside of controlled environments (as described in [RFC 8085](https://datatracker.ietf.org/doc/html/rfc8085#autoid-22), at a minimum, we can point to discussion about RTP circuit breakers in [RFC 8083](https://datatracker.ietf.org/doc/html/rfc8083).

I'll propose text for both of these points, and I'm sure we'll be talking about this at our next AVTCORE meeting. :sweat_smile:

For this comment: 

>Section 10.2 - This is a sub section for impact of connection migration and it would be good to add one for MP QUIC as Multipath offers more benefits than migration. And, both the sections should clearly state if the RTP layer needs to do anything on path change.

This is related to the comment about QUIC connection migration and MP-QUIC made for Section 1, and whatever we say in Section 10.2 should be summarized in Section 1. 

For this comment: 

> - This line caught my attention - Application layer congestion control mechanisms (and also packet repair schemes such as retransmissions) need to be prepared to cope with such spikes. Isn’t this something they already deal with UDP anyway? I wasn’t sure the reason for mentioning this explicitly.

I think this is related to our discussion of rate adaptation for a previous comment. I'll come back to this comment, when I propose text for that one. 

For these two comments: 

> Common to the entire draft - I think the word “unreliable” before datagrams doesn’t really add to the value of the draft as we all know datagrams are not retransmitted and the word “unreliable” doesn’t bring anything good to the table. Perhaps that can be removed at some places. 
>
> The word congestion control is well known in the community but I think most real time drafts use the word “rate adaptation algorithm” and that word makes more sense to me than congestion control. Happy to hear what the authors (and others) think.

1. At a minimum, we can say "QUIC datagrams, which are unreliable" once, and remove all other occurrences. @mengelbart and @joerg-ott would know better, but some of this text, or at least some of the thinking behind it, may date back to the days when the QUIC working group was talking about whether they also needed to support reliable datagrams, but these days, I don't think we need to be as careful about saying this clearly. 

2. "rate adaptation algorithm” works for me. Does it work for the authors (and, of course, for the working group, but let's start with @mengelbart and @joerg-ott).

Thank you, Spencer, for preparing a PR!

I don't know if you intentionally skipped the comments about the fraction lost and the highest sequence number fields of receiver reports, so I just opened two PRs to address these: https://github.com/mengelbart/rtp-over-quic-draft/pull/56 https://github.com/mengelbart/rtp-over-quic-draft/pull/57 (Feel free to ignore them if you already made changes for these, too).

> > Common to the entire draft - I think the word “unreliable” before datagrams doesn’t really add to the value of the draft as we all know datagrams are not retransmitted and the word “unreliable” doesn’t bring anything good to the table. Perhaps that can be removed at some places.
> > The word congestion control is well known in the community but I think most real time drafts use the word “rate adaptation algorithm” and that word makes more sense to me than congestion control. Happy to hear what the authors (and others) think.
> 
>     1. At a minimum, we can say "QUIC datagrams, which are unreliable" once, and remove all other occurrences. @mengelbart and @joerg-ott would know better, but some of this text, or at least some of the thinking behind it, may date back to the days when the QUIC working group was talking about whether they also needed to support reliable datagrams, but these days, I don't think we need to be as careful about saying this clearly.

Mentioning that QUIC datagrams are unreliable once should be enough. The RFC 9221 also has "unreliable" in its name, so the reference should make clear that these are unreliable datagrams.
 
>     2. "rate adaptation algorithm” works for me. Does it work for the authors (and, of course, for the working group, but let's start with @mengelbart and @joerg-ott).

"rate adaptation algorithm" works for me when we talk about real-time media. I'd prefer to keep "congestion control" when talking about QUIC's congestion control because it is also the term used in RFC 9002.

@mengelbart - 
> I don't know if you intentionally skipped the comments about the fraction lost and the highest sequence number fields of receiver reports, so I just opened two PRs to address these: #56 #57 (Feel free to ignore them if you already made changes for these, too).

You're probably learning that I do a lot of stuff UNintentionally. When I read your comment, I instantly remembered that comment, so whoops, my bad. :zany_face: 

Thank you for cleaning up after me, and opening these PRs. I'll work on them as well. 



@mengelbart - 

> Mentioning that QUIC datagrams are unreliable once should be enough. The RFC 9221 also has "unreliable" in its name, so the reference should make clear that these are unreliable datagrams.

This actually turned out to be two mentions (one in the introduction, which precedes the terminology section, and one in the terminology section. 



@mengelbart - 

> "rate adaptation algorithm" works for me when we talk about real-time media. I'd prefer to keep "congestion control" when talking about QUIC's congestion control because it is also the term used in RFC 9002.

I touched a lot of text with this one - see what you think!

