QUIC congestion control, real-time congestion control, and (potentially) both, for the same QUIC connection

@goelvidhi had several questions about this interaction in her document review (sent to the mailing list, entered into #53 by @aboba), and it's worth mentioning this in a separate issue. 

- What spec should one comply to for a real time congestion controller? (I don’t think RFC 9002 is the right compliance for real time CCs)
- Is bandwidth estimation the only thing needed by media codecs or does QUIC CC need to do more than that?
- If a real time CC can’t comply to 1., does it need to use both real time CC as well as QUIC CC?

This is related to, but not the same as, #59 (if you don't want your media treated like H3 payloads, how do you tell the other endpoint that it's real-time media?). 

> * What spec should one comply to for a real time congestion controller? (I don’t think RFC 9002 is the right compliance for real time CCs)

Since we are running RTP on top of QUIC and one of our goals is not to change or extend QUIC if possible, I would argue that RFC 9002 is at least one of the specs that a congestion controller should comply with. RFC 9002 says:

> A sender can unilaterally choose a different algorithm to use, such as CUBIC [[RFC8312](https://www.rfc-editor.org/rfc/rfc9002.html#RFC8312)].
>
> If a sender uses a different controller than that specified in this document, the chosen controller MUST conform to the congestion control guidelines specified in [Section 3.1](https://www.rfc-editor.org/rfc/rfc8085#section-3.1) of [[RFC8085](https://www.rfc-editor.org/rfc/rfc9002.html#RFC8085)].

which is reflected in the current draft in section 8. The section references RTP congestion control mechanisms but doesn't define any requirements. I would suggest adding [RFC 8836 (Congestion Control Requirements for Interactive Real-Time Media)](https://datatracker.ietf.org/doc/rfc8836/) here.
 
> * Is bandwidth estimation the only thing needed by media codecs or does QUIC CC need to do more than that?

I don't think there is anything that a media codec needs from a congestion controller. Calculating a bandwidth estimation helps because it allows the codec to produce media at a rate close to the maximum rate at which data can be transmitted to the receiver in real time. There may be more detailed signals available to improve the experience at the receiver, e.g., by changing the resolution or generating a new key fream, but I don't think this is the responsibility of congestion control.


> * If a real time CC can’t comply to 1., does it need to use both real time CC as well as QUIC CC?

If a congestion controller does not comply with 1., it would be violating the QUIC specification. I think it is important that a sender complies with RFC 9002/RFC 8085 and RFC 8836 for real-time data, and using both congestion controllers might be a solution, although it might not be the best thing to do.

Should we add some text to state more clearly, that a sender is expected to comply to the mentioned specifications?

Adding the specs to comply isn't a problem, its just that if QUIC CC is disabled, we have to make sure that it is feasible for the real time rate adaptation algorithm to comply to 8085. Does any of the current algorithms (Scream, NADA) reference 8085?

@mengelbart and @goelvidhi - My understanding of the comments for this issue is that they all revolve around what we do if QUIC CC is disabled, and the guidance we have from the [February 2023 AVTCORE virtual interim meeting](https://datatracker.ietf.org/meeting/interim-2023-avtcore-01/session/avtcore) is **"don't do that"**. I think we can close this one. 

I agree with "don't do that", if "QUIC CC is disabled" means no congestion control is being done.

It might be helpful to have some definitions of terms like "QUIC CC", "RTP CC", "Real-time CC", etc. I tried to do that in https://github.com/mengelbart/rtp-over-quic-draft/issues/59#issuecomment-1419312129, because I think a lot of confusion comes from the different interpretations of these terms. "QUIC CC" might be used as "the congestion controller running in the QUIC implementation" or as "the reno-like algorithm defined in RFC 9002". Similarly, "Real-time CC" could mean "congestion controller implemented in an application sending RTP" or it might be used to reference a specific algorithm like SCReAM, NADA, or BBR.

> I agree with "don't do that", if "QUIC CC is disabled" means no congestion control is being done.
> 
> It might be helpful to have some definitions of terms like "QUIC CC", "RTP CC", "Real-time CC", etc. I tried to do that in [#59 (comment)](https://github.com/mengelbart/rtp-over-quic-draft/issues/59#issuecomment-1419312129), because I think a lot of confusion comes from the different interpretations of these terms. "QUIC CC" might be used as "the congestion controller running in the QUIC implementation" or as "the reno-like algorithm defined in RFC 9002". Similarly, "Real-time CC" could mean "congestion controller implemented in an application sending RTP" or it might be used to reference a specific algorithm like SCReAM, NADA, or BBR.

@mengelbart - this is a super helpful suggestion. I created #70 to capture it.