State what endpoints should do if the QUIC datagram extension is not enabled

The RTP over QUIC puts a hard requirement on endpoints advertising their support for the QUIC datagram extension.

If endpoints use ALPN to select RTP over QUIC, but the QUIC transport parameters do not contain a `max_datagram_frame_size`, it is not clear what should happen. One approach would be to fail the connection at the point this is detected, such as rejcting the connection handshake. 

Not stating an expected way to handle this could lead to some interop problems.

So I might be misunderstanding (and if so, let me know) but I don't think that requirement quite captures what your goals would be. When your peer doesn't support receiving QUIC datagrams you *can't* send them by definition of QUIC.

The quandry RTP over QUIC has is offering two ways to carry application data with little guidance on how applications would use these features. For example, if the client *only* wants to send datagrams and the server doesn't state it supports the QUIC datagram extension, what happens?

Equally and oppositely, imagine a client only wants to use streams, and the server only wants to receive datagrams - so provides zero credits for creating streams. What happens?

You suggest QUIC streams can be used as a fallback from datagrams, but I think that highlights a design assumption in the specification, which could benefit from being made explicit. I'm not sure everybody is on board with that design if it isn't written down.

Since you have two ways to carry data, and those capabilities are advertised unilaterally, you have a matrix of combinations. You might want to think about codifying these, so that applications can communicate their intent early. For instance, defining an RTP-over-QUIC transport parameter or a few ALPNs, to help negotiate the capabilities at the start.

I think I misunderstood the issue. You're right, my suggestion doesn't make much sense, since using datagrams is already impossible when it is not supported.

Maybe our assumption is, that since peers have to negotiate the session out of band, we expect them to negotiate only what their QUIC implementations support and then adhere to what they negotiated. But that probably doesn't really prevent the situations you describe.

I think we might want to add some explanation about what we expect from the external signalling and then also add a transport parameter or different ALPNs as you suggested.

I am thinking about how to implement this in the draft, but I am not (yet) sure if I understand all the implications. For example, the situation you describe, where a server provides zero credits for streams, wouldn't that still be possible, even with the correct signalling and is there anything we could do about it?

I'm not an RTP expert so take my comments with a pinch of salt. But any time I hear that a signalling mechanism puts some expectations on a loosely coupled transport, I get a bit nervy. This is primarily because applications don't always have as tight a coupling (or control) over their transport layer as they think they might like. HTTP/3 has a bit of this now, where multi-cloud or multi-CDN deployments can invalidate prior advertisements.

Designing some robustness into handling mismatches can help spot them earlier. Transport parameters or ALPNs have different tradeoffs. I wouldn't rush into picking one without understanding your problem space. So this issue might need some time to mature.

You're right about zero credits, that could always happen. HTTP/3 recommends at least 100 concurrent bidirectional streams at any time https://www.rfc-editor.org/rfc/rfc9114.html#section-6.1-2. Section 6.1 and 6.2 more broadly discuss considerations for flow control and unidirectional streams. I'd suggest other application mappings think of similar guidance. 

After discussion with @joerg-ott and @mengelbart, I think this comment from @LPardue is an excellent place to start ... 

> You're right about zero credits, that could always happen. HTTP/3 recommends at least 100 concurrent bidirectional streams at any time https://www.rfc-editor.org/rfc/rfc9114.html#section-6.1-2. Section 6.1 and 6.2 more broadly discuss considerations for flow control and unidirectional streams. I'd suggest other application mappings think of similar guidance.

What I'm thinking, is that we can reasonably say 
1. If both sides don't support datagrams, you won't be using datagrams (duh), 
2. So you're going to be using streams, and we can make suggestions that will help this "suck less". 

I can propose text for this, at least as a starting point. I'm not tagging the issue as a pre-IETF 116 priority for now. 

Does that all make sense?

Issue #76 adding error codes will help with this one. 

Error codes were added in #91, including an [explanation for handling the absence of datagram support](https://github.com/mengelbart/rtp-over-quic-draft/pull/91/files#diff-88df85545ee4dd07f1027eb4174149926d2df360b5dff6dd0c8f80dd802b2e26R631).

There will be more changes to the IANA considerations for error codes (#140), but I suggest we close this issue already. We still have #76 tracking the error codes more generally.

@mengelbart and @LPardue - so, the text [for handling the absence of datagram support](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#name-quic-datagrams), first paragraph: 

> Senders can also transmit RTP packets in QUIC datagrams. QUIC datagrams are an extension to QUIC described in [RFC9221]. QUIC datagrams can only be used if the use of the extension was successfully negotiated during the QUIC handshake. **If the use of an extension was signaled using a signaling protocol, but the extension was not negotiated during the QUIC handshake, a peer MAY close the connection with the ROQ_EXPECTATION_UNMET error code.**

handles the case where I told you (via signaling) that I will be sending you QUIC datagrams, but when we do our QUIC handshake, for whatever reason, we fail to negotiate the datagram extension. 

I chatted with several MoQ folks during the Hackathon at IETF 117, and the consensus was that 

- people know what an implementation should do when the implementation receives a frame type it has never seen or heard of before ("a grommet frame") - return a connection error of type FRAME_ENCODING_ERROR , as described in [Section 12.4 of RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000#name-frames-and-frame-types), but 
- people don't agree on what implementations should do when the implementation receives a frame type that it understands, **except** that the frame type is defined for a QUIC extension that has not been negotiated ("a datagram frame") - some implementations treat the known but unnegotiated frame **as if it were unknown**, and other implementations might do "something else". 

So, my question here, is - is it helpful for us to say anything about this inconsistency in RoQ, or should I be doing something else?

One possibility would be a short draft targeted at the QUIC WG, updating RFC 9000, that at least explains the issue, and could reasonably caution application developers about the possibility that an implementation might surprise them, but I'm sure there are other, possibly smarter, possibilities. 

A LONG time ago, @LPardue said (above), 

> You're right about zero credits, that could always happen. HTTP/3 recommends at least 100 concurrent bidirectional streams at any time https://www.rfc-editor.org/rfc/rfc9114.html#section-6.1-2. Section 6.1 and 6.2 more broadly discuss considerations for flow control and unidirectional streams. I'd suggest other application mappings think of similar guidance.

That's gotten a bit lost, up until now. I'll add it in a PR. 

> people don't agree on what implementations should do when the implementation receives a frame type that it understands, except that the frame type is defined for a QUIC extension that has not been negotiated ("a datagram frame") - some implementations treat the known but unnegotiated frame as if it were unknown, and other implementations might do "something else".

I think [RFC 9221](https://www.rfc-editor.org/rfc/rfc9221.html#name-transport-parameter) is quite clear about this:

> An endpoint that receives a DATAGRAM frame when it has not indicated support via the transport parameter MUST terminate the connection with an error of type PROTOCOL_VIOLATION.

I don't know if it is an issue that the error codes are different. One could possibly use this to learn about the implementation of the other endpoint: If you get a PROTOCOL_VIOLATION, the endpoint seems to be using an implementation that supports the datagram extension. If you get a FRAME_ENCODING_ERROR, the implementation does not seem to know datagrams. But I don't think RoQ is the right place to discuss this.