Specify how the contents of the 0-RTT initial packet payload are handled in RoQ

This Editor's Note

> Editor's Note: Since the QUIC connection will often be created in the context of an existing signaling relationship (e.g., using WebRTC or SIP), specific 0-RTT keying material could be exchanged to prevent replays across sessions. Within the same connection, replayed media packets would be discarded as duplicates by the receiver.

is worth its own issue, because [Section 9.2 in RFC 9001](https://www.rfc-editor.org/rfc/rfc9001#section-9.2) says

> Application protocols MUST either prohibit the use of extensions that carry application semantics in 0-RTT or provide replay mitigation strategies.

and, peeking at [Section 10 9 of RFC 9114](https://datatracker.ietf.org/doc/html/rfc9114#name-early-data), HTTP/3 does replay protection this way 

> The use of 0-RTT with HTTP/3 creates an exposure to replay attack. The anti-replay mitigations in [[HTTP-REPLAY](https://datatracker.ietf.org/doc/html/rfc8470)] MUST be applied when using HTTP/3 with 0-RTT.

and none of the mitigations in [Section 3 of HTTP-REPLAY (RFC 8470)](https://datatracker.ietf.org/doc/html/rfc8470#autoid-4) seem applicable. 

We THINK the right answer is to allow 0-RTT connections, but to require RoQ endpoints to ignore any packet payload in an 0-RTT initial packet received during the TLS handshake,