Using streams, datagrams, and per-RTP-frame streams with RoQ

We may need a short section explaining the ROQ-specific tradeoffs

@aboba asked if a sender had any restrictions on using streams, per-frame streams, and datagrams. I agree and think we should explicitly say something ("silence is permission"), and also consider interactions.

I asked the question in the context of Peter's SDP negotiation slide, in which it wasn't clear what UDP/QUIC/RTP/AVPF meant exactly. For example, would an Answer receiving this have to be willing receive RTP over streams, datagrams and some mixture of both? Or is there a way for an Offer to indicate that it is only intending to use a particular transport mode (e.g. reliable streams OR datagrams). 

@aboba - so, I think the last time we had a meaningful conversation about SDP for RoQ in AVTCORE was at IETF 115, and I used slides in the [combined slide deck](https://datatracker.ietf.org/meeting/115/materials/slides-115-avtcore-ietf-115-avtcore-wg-03). Check out slide 53, but we definitely talked about 

> “stream/”, “dgram/” and “/shared” prepended to UDP/QUIC/RTP/AVPF

So, yes, it isn't clear what UDP/QUIC/RTP/AVPF meant exactly. :wink: :innocent:

I got sufficiently strong pushback on trying to maintain the SDP draft while we were still figuring out how RoQ would work, that I dropped that draft to work with @mengelbart and @joerg-ott on the RoQ draft, so that I wasn't just annoying the working group with requests for unnecessary adoption polls. 

I'm fine to pick up that work when you and @JonathanLennox think RoQ is stable enough to allow a successful adoption poll for an SDP draft, but in the meantime, you might want to remind presenters who include SDP in their slides, that which AVP profiles will be registered was still an active question in the working group, the last time we talked about that. 

While working on a PR for this issue, I noticed the following text in [Section 3 of RFC 9221](https://datatracker.ietf.org/doc/html/rfc9221#name-transport-parameter):

> Application protocols that use datagrams **MUST** define how they react to the absence of the max_datagram_frame_size transport parameter. If datagram support is integral to the application, the application protocol can fail the handshake if the max_datagram_frame_size transport parameter is not present.

I don't think this belongs in a subsection of Section 3 in the RoQ draft, but we do need to do it, and we should talk about what the behavior should be before we add this to the draft (probably in [Section 4 of the draft](https://mengelbart.github.io/rtp-over-quic-draft/draft-ietf-avtcore-rtp-over-quic.html#name-connection-establishment-an). I'm adding issue #122 so we don't forget. 