Incorrect use of term "rate adaptation" instead of congestion control

"A wide variety of congestion control algorithms for real-time media
   have been developed (for example, "Google Congestion Controller"
   [I-D.draft-ietf-rmcat-gcc]).  The IETF has defined two algorithms in
   two Experimental RFCs (SCReAM [RFC8298] and NADA [RFC8698]).  These
   algorithms for RTP are specifically tailored for real-time
   transmissions at low latencies, but this section would apply to any
   **rate adaptation algorithm** that meets the requirements described in
   "Congestion Control Requirements for Interactive Real-Time Media"
   [RFC8836]."

Please replace   **rate adaptation algorithm** with congestion control algorithm since the algorithms being discussed are congestion control algorithms

@gchandok - I agree with this, and I can prepare a PR for it. 

Just as background - both @mengelbart and I have made passes over this draft trying to get the usages of "rate adaptation" and "congestion control" right. Mathis made the most recent pass for issue [128](https://github.com/mengelbart/rtp-over-quic-draft/issues/128) from @aboba, so it's my turn now. 	:yum:

Just for the notes: 

> Please replace rate adaptation algorithm with congestion control algorithm since the algorithms being discussed are congestion control algorithms

is more accurately 

> Please replace rate adaptation algorithm with congestion control algorithm since the algorithms being discussed DESCRIBE THEMSELVES AS congestion control algorithms  :laughing: